
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}





<div class="p-3 container">
    <h1 class="font-weight-bold">All Departments</h1>
    <button class="btn text-white p-0 my-2"><a asp-controller="Department" asp-action="Create" class="btn btn-info font-weight-bold my-2">Create New Department</a></button>
@if(Model.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(d => d.Code)</th>
                    <th>@Html.DisplayNameFor(d => d.Name)</th>
                    <th>@Html.DisplayNameFor(d => d.DateOfCreation)</th>
                    <th> Details</th>
                    <th> Update</th>
                    <th> Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach(Department dept in Model)
                {
                    <tr>
                        <td>@dept.Code</td>
                        <td>@dept.Name</td>
                        <td>@dept.DateOfCreation</td>
                        <td><a asp-route-id="@dept.Id" asp-action="GetDepartment" class="btn btn-success  font-weight-bold"><i class="fa-solid fa-eye"></i> Details</a></td>
                        <td><a asp-route-id="@dept.Id" asp-action="Edit" class="btn btn-warning  font-weight-bold"><i class="fa-solid fa-pen-to-square"></i> Update</a></td>
                        <td> <a asp-route-id="@dept.Id" asp-action="Delete" class="btn btn-danger"> <i class="fa-solid fa-trash"></i> Delete</a> </td>
                      
                    </tr>
                }
            </tbody>d
        </table>
    }else
    {
        <div class="alert alert-warning font-weight-bold" role="alert">
            No Department Is Exsist!
        </div>
    }


</div>









